h3,h4{
    color: brown;
    font-size: 36px;
    text-align: center;
    border: 1px solid green;
}

p{
    color: rgb(243, 220, 193);
    background-color: rgb(255, 140, 0);
    border: 10px solid rgb(243, 110, 110);
    padding: 10px;
}
img{
    width: 200px;
    margin-bottom: 20px;
}

h5{
    text-align: center;
    font-size: 26px;
    color: rgb(56, 103, 87);
}
